name: build

on:
  push:
    paths-ignore:
      - '**.md'
    branches-ignore:
      - 'master'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint:all
      - name: Build
        run: yarn build
      - name: Test
        run: yarn cover
        env:
          CI: true
      - name: Report coverage
        run: yarn codecov
        env:
          CI: true
