name: master

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn lint:all
      - name: Build
        run: yarn build
      - name: Test
        run: yarn cover
        env:
          CI: true
      - name: Report coverage
        run: yarn codecov
        env:
          CI: true
      - name: Authenticate with registry
        run: echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" > $GITHUB_WORKSPACE/.npmrc
        shell: bash
        env:
          NPM_AUTH_TOKEN: ${{secrets.npm_token}}
#       Disabled temporarily while sparks fly
#      - name: Publish
#        run: yarn publish:release
#        env:
#          CI: true
