name: OnPush CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Use yarn
      uses: Borales/actions-yarn@master
    - name: yarn install, lint, build, and test
      run: |
        yarn install
        yarn lint
        yarn build
        yarn cover
      env:
        CI: true

  publish:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/bin/filter@master
        with:
          args: branch master
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - name: Publish
        run: echo TODO enable publishing
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}